{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}

<h2 style="text-align:center; color:#ff1493;">
Bienvenida a Cucharas Sorpresa 🥄💄
</h2>

<p style="text-align:center;">
Tienda virtual de productos sorpresa
</p>

<div style="text-align:center; margin-top:30px;">
    <a href="/productos">
        <button style="background:#ff69b4; border:none; padding:15px 20px; color:white; font-size:18px; border-radius:8px;">
            Ver Productos
        </button>
    </a>
</div>

{% endblock %}