<!DOCTYPE html>
<html>
<head>
<title>Cucharas Sorpresa</title>

<style>

body{
    font-family:Arial;
    text-align:center;
    background:#ffe4ec;
}

h1{
    color:#ff1493;
    margin-top:100px;
}

button{
    background:#ff69b4;
    border:none;
    padding:15px 20px;
    color:white;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#ff1493;
}

</style>

</head>

<body>

<h1>Bienvenida a Cucharas Sorpresa 🥄💄</h1>

<p>Tienda virtual de productos sorpresa</p>

<br>

<a href="/inventario">
<button>Ver Inventario</button>
</a>

</body>
</html>